/* || Global Styles */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    neutral-900: #172339;
    neutral-500: #49566d;
    neutral-200: #f3ede7;
    neutral-0: #faf8f6;
    eupatrorium-purple-500: #c830e3;
    light-gradient: linear-gradient(
        135deg,
        #a060ff 0%,
        #cb30e3 49.21%,
        #ffa84e 100%
    );
}
