/* || Global Styles */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --neutral-900: #172339;
    --neutral-500: #49566d;
    --neutral-200: #f3ede7;
    --neutral-0: #faf8f6;
    --eupatrorium-purple-500: #c830e3;
    --light-gradient: linear-gradient(
        135deg,
        #a060ff 0%,
        #cb30e3 49.21%,
        #ffa84e 100%
    );
}

/* || Main */

body {
    background-color: var(--neutral-0);
    font-family: "Epilogue", Arial, Helvetica, sans-serif;
}

/* Header */

header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-block-end: 4rem;
    padding: 1.5rem;
}

.header-btn {
    padding: 1rem 1.25rem 0.75rem 1.25rem;
    background-color: var(--neutral-0);
    border: 0.1rem solid var(--neutral-900);
    border-radius: 0.5rem;
    color: var(--neutral-900);
    cursor: pointer;
    font-weight: 600;
    height: 3.25rem;
    transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
    width: 13rem;
}

.header-btn:hover {
    background-color: var(--neutral-900);
    color: var(--neutral-0);
}

/* Hero */

.hero-section {
    margin-block-end: 4rem;
    padding: 1.5rem;
}

.hero-text-container {
    position: relative;
}

h1 {
    color: var(--neutral-900);
    font-size: 2.5em;
    font-weight: 400;
    line-height: 110%;
    margin-block-end: 1.5rem;
}

.hero-curved {
    height: auto;
    left: 10.5rem;
    position: absolute;
    top: -1.625rem;
    width: 10rem;
}

.hero-p {
    color: var(--neutral-500);
    line-height: 150%;
    font-size: 1.2rem;
    margin-block-end: 2.5rem;
}

.hero-btn {
    padding: 1rem 1.25rem 0.75rem 1.25rem;
    background-color: var(--neutral-900);
    border: 0.1rem solid var(--neutral-900);
    border-radius: 0.5rem;
    color: var(--neutral-0);
    cursor: pointer;
    font-weight: 600;
    height: 3.25rem;
    margin-block-end: 4rem;
    transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
    width: 13rem;
}

.hero-btn:hover {
    background-color: var(--neutral-0);
    color: var(--neutral-900);
}

.hero-image-landscape {
    height: auto;
    width: 100%;
}

/* Stats */

.stats-section {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    margin-block-end: 15rem;
    padding: 1.5rem;
    width: 100%;
}

.stats-container {
    text-align: center;
}

h2 {
    color: var(--neutral-900);
    font-size: 3rem;
}

.stats-sub-text {
    color: var(--neutral-500);
}

/* Testimonials */

.testimonial-container {
    background-color: var(--neutral-900);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    height: 38rem;
    justify-content: flex-end;
    padding: 4rem 1.5rem 0 1.5rem;
    position: relative;
    color: var(--neutral-0);
}

.testimonial-text-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.testimonial-img-container {
    position: relative;
    left: 50%;
    top: -16rem;
    transform: translateX(-50%);
}

.testimonial-img {
    position: absolute;
    left: 50%;
    top: -12rem;
    transform: translateX(-50%);
}

.radial-blur {
    background-color: var(--eupatrorium-purple-500);
    border-radius: 50%;
    filter: blur(5rem);
    height: 10rem;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    top: 5rem;
    width: 10em;
    z-index: -1;
}
.testimonial-curve {
    height: auto;
    margin-block-end: 2rem;
    width: 4rem;
}

h3 {
    font-size: 2.5rem;
    font-weight: 400;
    margin-block-end: 2rem;
}

.testimonial-text {
    line-height: 150%;
    margin-block-end: 1.5rem;
}

.name {
    font-size: 1.2rem;
    font-weight: 600;
    margin-block-end: 0.5rem;
}

.job-title {
    font-weight: 300;
    margin-block-end: 2.5rem;
}
