/* || Global Styles */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --neutral-900: #172339;
    --neutral-500: #49566d;
    --neutral-200: #f3ede7;
    --neutral-0: #faf8f6;
    --eupatrorium-purple-500: #c830e3;
    --light-gradient: linear-gradient(
        135deg,
        #a060ff 0%,
        #cb30e3 49.21%,
        #ffa84e 100%
    );
}

/* || Main */

body {
    background-color: var(--neutral-0);
    font-family: "Epilogue", Arial, Helvetica, sans-serif;
}

/* Header */

header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-block-end: 4rem;
    padding: 1rem 1.5rem 1.5rem 1.5rem;
}

.header-btn {
    padding: 1rem 1.25rem 0.75rem 1.25rem;
    background-color: var(--neutral-0);
    border: 0.1rem solid var(--neutral-900);
    border-radius: 0.5rem;
    color: var(--neutral-900);
    cursor: pointer;
    font-weight: 600;
    height: 3.25rem;
    transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
    width: 13rem;
}

.header-btn:hover {
    background-color: var(--neutral-900);
    color: var(--neutral-0);
}

.header-btn:focus {
    outline: 0.2rem solid var(--neutral-900);
    outline-offset: 0.1rem;
}

/* Hero */

.hero-section {
    margin-block-end: 15rem;
    padding: 1.5rem;
    position: relative;
}

.hero-text-container {
    position: relative;
}

h1 {
    color: var(--neutral-900);
    font-size: clamp(2.5em, 3.2vw, 3rem);
    font-weight: 400;
    line-height: 110%;
    margin-block-end: 1.5rem;

    position: relative;
    z-index: 2;
}

.hero-curved {
    height: auto;
    left: 10.5rem;
    position: absolute;
    top: -1.625rem;
    width: 10rem;
}

.hero-p {
    color: var(--neutral-500);
    line-height: 150%;
    font-size: clamp(1.2rem, 2.2vw, 1.4rem);
    margin-block-end: 2.5rem;
}

.hero-btn {
    padding: 1rem 1.25rem 0.75rem 1.25rem;
    background-color: var(--neutral-900);
    border: none;
    border-radius: 0.5rem;
    color: var(--neutral-0);
    cursor: pointer;
    font-weight: 600;
    height: 3.25rem;
    margin-block-end: 4rem;
    transition: background 0.4s ease-in-out, color 0.4s ease-in-out;
    width: 13rem;
}

.hero-btn:hover {
    background: var(--light-gradient);
    color: var(--neutral-0);
}

.hero-btn:focus {
    outline: 0.2rem solid var(--neutral-900);
    outline-offset: 0.1rem;
}

.hero-image-landscape {
    height: auto;
    width: 100%;
    margin-block-end: 4rem;
}

.hero-image-portrait {
    height: 30rem;
    width: auto;
    display: none;
    margin-block-end: 4rem;
    position: relative;
    z-index: 1;
}

/* Stats */

.stats-section {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    padding: 1.5rem;
    width: 100%;
}

.stats-container {
    text-align: center;
}

h2 {
    color: var(--neutral-900);
    font-size: 3rem;
}

.stats-sub-text {
    color: var(--neutral-500);
}

/* Testimonials */

.testimonial-container {
    background-color: var(--neutral-900);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    height: 38rem;
    justify-content: flex-end;
    padding: 4rem 1.5rem 0 1.5rem;
    position: relative;
    color: var(--neutral-0);
}

.testimonial-text-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.testimonial-img-container {
    position: relative;
    left: 50%;
    top: -16rem;
    transform: translateX(-50%);
}

.testimonial-img {
    position: absolute;
    left: 50%;
    top: -12rem;
    transform: translateX(-50%);
}

.testimonial-img-large {
    display: none;
}

.radial-blur {
    background-color: var(--eupatrorium-purple-500);
    border-radius: 50%;
    filter: blur(5rem);
    height: 10rem;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    top: 5rem;
    width: 10em;
    z-index: -1;
}
.testimonial-curve {
    height: auto;
    margin-block-end: 2rem;
    width: 4rem;
}

h3 {
    font-size: 2.5rem;
    font-weight: 400;
    margin-block-end: 2rem;
}

.testimonial-text {
    font-size: clamp(1rem, 2.2vw, 1.5rem);
    line-height: 150%;
    margin-block-end: 1.5rem;
}

.name {
    font-size: 1.2rem;
    font-weight: 600;
    margin-block-end: 0.5rem;
}

.job-title {
    font-weight: 300;
    margin-block-end: 2.5rem;
}

/* Footer */

footer {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
}

.copy {
    color: var(--neutral-500);
}

.socials {
    display: flex;
    gap: 2rem;
}

/* Media Queries */

@media screen and (min-width: 51.25em) {
    body {
        padding: 2rem;
    }
    .hero-section {
        padding: 0;
        display: grid;
        grid-template: 1fr / repeat(2, 1fr);
    }

    .hero-image-landscape {
        display: none;
    }

    h1 {
        grid-column: 1 / 2;
        display: inline-block;
        width: 100%;
    }

    .hero-text-container {
        align-self: center;
        justify-self: center;
    }

    .hero-image-portrait {
        display: block;
        justify-self: end;
    }

    .stats-section {
        flex-direction: row;
        grid-column: 1/3;
        justify-content: space-around;
        padding: 0;
    }

    .testimonial-section {
        margin-block-end: 4rem;
    }

    footer {
        padding: 0;
        flex-direction: row;
        justify-content: space-between;
    }
}

@media screen and (min-width: 68em) {
    body {
        padding: 2rem 10rem;
    }

    header {
        padding: 0;
    }

    .hero-section {
        grid-template: 1fr / 3fr 1fr;
        margin-block-end: 8rem;
    }

    .hero-image-portrait {
        display: inline-block;
    }

    .hero-text-container {
        margin-inline-end: 2rem;
    }

    .stats-section {
        grid-row: 1;
        grid-column: 3;
        flex-direction: column;
        align-items: start;
        padding-left: 3rem;
    }

    .testimonial-container {
        display: grid;
        grid-template: 1fr / repeat(2, 1fr);
    }

    .testimonial-img-container {
        grid-column: 1;
        top: 1rem;
    }

    .radial-blur {
        top: 5rem;
        height: 24rem;
        width: 24rem;
    }

    .testimonial-img {
        display: none;
    }

    .testimonial-img-large {
        position: absolute;
        display: block;
        height: 45rem;
        top: -12rem;
        left: 5rem;
        width: auto;
    }

    .testimonial-text-container {
        grid-column: 2;
    }
}
